*
{   
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 17px;

}
html{
    scroll-behavior: smooth;
    cursor: pointer;
}
body{
    overflow: hidden;
    
}
/*--------------------------------------- scroll------------------------------ */
/* width */
::-webkit-scrollbar {
    width: 13px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 0px;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #2566c9;
    border-radius: 4px;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #2566c9;
  }
/********************************* Loading *********************************/
#bt1{
    box-shadow: none;
    border: none;
 }
 .Loadding{
     position:fixed;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background-color: #f1f1f1;
     z-index: 99999999999;
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: center;
 }
 .loa{
     color: #0077ffab;

 }
/*********************************Navbar *********************************/
.navbar{
    font-size: 16px;
    font-weight: 600; 
    
 }
 #nav{
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
     z-index: 999999;
 }
 .AMS{
     width: 100px !important;
     border-radius: 30px 30px ;
 }
 .nav-item{
     margin-left: 15px;
     padding-top: 10px !important;

 }
 .collapse{
    direction: rtl !important;

 }
 .nav-item .nav-link{
     color: white !important;
     transition: all .4s;
     border-bottom: transparent 1px;
     box-sizing: border-box !important;
     font-size: 20px;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
     font-weight: 600;
 }
 .nav-link:hover{
    color: #e9f231 !important;

 }
 .bar1,
 .bar2,
 .bar3{
     width: 25px !important;
     height: 2px !important;
     background-color: white !important;
     margin: 6px 0 !important;
     transition: 0.4s !important;
 }
 .change .bar1 {
     -webkit-transform: rotate(-45deg) translate(-6px, 6px);
     transform: rotate(-45deg) translate(-6px, 6px);
 }
 .change .bar2 {
     opacity: 0;
 }
 .change .bar3 {
     -webkit-transform: rotate(45deg) translate(-6px, -6px);
     transform: rotate(45deg) translate(-6px, -6px);
 }
 .active1{
     position: relative;    
 }
 li{
     cursor:pointer;
 }
 .active1::after{
     content: "";
     position: absolute;
     left: 0 !important;
     bottom: 5px;
     width: 100%;
     height: 1px;
     top: 48px;
     border-bottom:#eaff0058 3px solid;
     border-top-left-radius: 10px !important;
     border-top-right-radius: 20px !important;
     animation: appear 1s linear;
 }
 @keyframes  appear {
 
     from{
         width: 0;
     }
     to{
         width: 100%;
     }
 }
 .wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 2px;
}
.hh {
    min-width: 250px;
    min-height: 60px;
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #ffffff;
    background: #2566c9;
  background: linear-gradient(90deg, rgb(249, 97, 3) 0%, rgba(237, 230, 9, 0.866) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 2px 2px 5px 6px rgb(222, 246, 82);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    margin-left: 10px;
}
 .hh::before {
  content: '';
    border-radius: 1000px;
    min-width: calc(240px + 12px);
    min-height: calc(60px + 12px);
    border: 4px solid rgba(237, 230, 9, 0.866); 
    /* box-shadow: 0 0 60px rgba(0,255,203,.64); */
    box-shadow: 5px 20px 30px 5px rgba(237, 230, 9, 0.866);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
}
.hh:hover, .hh:focus {
 /* color: #d5dc0a; */
transform: translateY(-6px);
}
.hh:hover::before, .hh:focus::before {
    opacity: 1;
} 
.hh::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid #2a65e4;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
}  
.hh:hover::after, .hh:focus::after {
animation: none;
display: none;
}
 
@keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      width: 300px;
      height: 300px;
      opacity: 0;
    }
}
/************************************* Home *******************************************/
.home{
    height: 100vh;
    background-image: url(images/slide-06.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items: center;
    justify-content:center ;
    text-align: center;
    overflow: hidden;
}
.back{
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0077ff54 !important;
}
.caption{
    position: relative;
   
}
.caption h5{
    font-weight: 500;
    font-size: 25px;
    padding-bottom: 30px;
    color: #ffff;

}
.caption h1,.element{
    font-weight: 800 !important;
    font-size: 60px !important;
    /* margin-bottom: 20px !important; */
    color: #ffff;


}
.caption, .pro1{
    font-size: 60px !important;
    font-weight: 800 !important;
    color: #ffff;


}
.caption .pro2{
    font-size: 30px !important;
    font-weight: 800 !important;
    color: #ffff;
  
}
.element1{
    font-size: 40px;
}
.elm{
    direction: rtl !important;
}
/************************************* About-me *******************************************/
.About-Ams{
    height: 100vh;
    background-image: url(images/slide-05.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
 }
 .trf{
    color: rgb(76, 73, 232) !important;
 }
.tarof{
    color: rgba(188, 184, 184, 0.8) !important;
}
.med{
    color:rgba(255, 255, 255, 0.882) !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    font-size: 18px !important;
}
.Ams-tarof{
color: rgba(151, 164, 252, 0.999) !important;
}
.btn1 ,.bttn{
    margin-top:20px ;
    display:flex;
    align-items: center;
    justify-content: center;
}
.btn11{
    height: 60px;
    width: 200px;
    border-radius: 50rem !important;
    /* box-shadow: #929494 0px 5px 15px; */
    transition: all .4s !important;
    background-color:#0077ffab !important;
    border:none!important;
}
.cap1{
    direction: rtl !important;
}
.btn11:hover{
    box-shadow: #3ecbcb 0px 5px 15px;
  }
.bttn:hover{
    box-shadow: #4a4b4b 0px 5px 15px;
}
.qq{
    color: #fbfbfb !important;
}
.Ams-know{
    color:#f0f0f0;
    text-decoration: none;
    font-size: 17px !important;
    font-weight: 600 !important;
}
.Ams-know:hover{
      color: #f3f5f4;
    text-decoration: none;
}
.cool{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* ///////////////////////goals/////////////////////////// */
.goals{
    margin: 0px;
    padding: 0px;
    
}
.goals p{
    font-size: 18px !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    color: rgb(34, 34, 34);
    font-weight: 400;
}
.info{
    font-weight: 600;
}
.num2{
    font-size: 15px;
    font-weight: 400;
    color: black !important;
}
.pc{
    direction: rtl !important;
}
/************************************* Service *******************************************/
.service-Ams{
    height: 120vh;
    background-image: url(images/blog-02.jpg);
    background-size:100% 100%;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}
.back2{
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #062a5a67 !important;
}
.cap2{
    position: relative;
}

.policy-Ams{
    color: rgb(76, 73, 232) !important;
    font-weight: 700 !important;
}
.policy{
    color:rgb(255, 255, 255) !important;
    font-size: 21px;
    font-weight: 600 !important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
}
.Ams-tarof{
color: rgba(151, 164, 252, 0.999) !important;
}

.med2{
    color:rgba(255, 255, 255, 0.882) !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    font-size: 16px !important;
}

/* /////////////// */
.item1,
.item3,
.item4,
.item5,
.item6
{
 border: 1px solid rgb(236, 234, 234);
 padding: 20px 20px;
 margin-top: 30px;
 border-radius: 7px;
  
}

/* //////////////////contact//////////////////// */

.getin-Touch{
    background-color: #c8c2e9;
    direction: rtl !important;
}

.info-contact h5{
    font-size: 24px;
    font-weight: 600;
}
.phone-num:hover{
    color: #0077ff9b;  
}
.phone,
.mail2{
    color: #0077ff9b;   
}
.phone1{
    color: #666969;
}

.item6{
    border-radius: 10px;
}
.item61 .media{
    border-radius:50%;
    border: 5px solid #0078ff;
    width: 55px;
    height: 55px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s all;
    box-sizing: border-box !important;
    /* float: left; */
}
.sss{
    display: flex;
}
.clr{
    clear: both;
}
.media i{
    font-size: 25px;
    transition: .3s;
}
.media i:hover{
    color: white;
}
.ui:hover{
    color: white;
    border: 10px solid #cde1f8;
    background-color: #0078ff;
}

/*---------------------------------------final------------------------------------------- */
.final {
    background-color: rgba(18, 9, 9, 0.896);
    text-align: center;
}
.copy{ 
    color: white;
}
/* .span12{
    display: flex;
} */
.brdr12{
    margin-top: 3px; 
    width: 1px;
    height: 22px;
    background-color: #cecece;
    opacity: 8 !important;
}
.copy h5{
    font-size: 17px;
}
/*------------------------------------btnUp------------------------------------------------------ */
.btnUp{
    position: fixed;
    bottom: 20px;
    right: 10px;
    background-color: #0077ff9b !important;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    z-index: 8888 !important;
    border: none !important;
}
.up1{
    color: white;
}
/* /////////////////////////////////////////////////////////////////////////////////////////////// */





















/* /////////////////////////////////////////max-width:567px///////////////////////////// */

@media screen and (max-width:567px)  
{

.btn11{
        height: 60px;
        width: 200px;
        border-radius: 50rem !important;
        box-shadow: #929494 0px 0px 0px;
        transition: all .4s !important;
        background-color:#0077ffab !important;
        border:none!important;
}
/********************************* navbar *****************************************/
    .navbar{ 
        text-align: center !important;
     }
     #bt1{
        border: solid 2px #0077ffab !important;
        box-shadow: none !important;
     }
     .nav-item{
         padding-top: 10px !important;
         background-color: #237ce186;
     } 
     .active1::after{
         content: "";
         position: absolute;
         left: 120px !important ;
         bottom: 6px;
         width: 25%;
         height: 1px;
         top: 45px;
         border-bottom:#d6e909c1 3px solid;
         border-top-left-radius: 10px !important;
         border-top-right-radius: 20px !important;
         animation: appear 1s linear;
     }
     @keyframes  appear {
     
         from{
             width: 0;
         }
         to{
             width: 25%;
         }
     }

/********************************* Home *****************************************/
    .home{
    height: 100vh;
    background-image: url(images/slide-06.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items: center;
    justify-content:center ;
    text-align: center;
    overflow: hidden;
}
.caption .pro1,.element
{
font-weight: 600 !important;
font-size: 26px !important;
margin-bottom: 20px !important;
}
.elm{
    direction: rtl;
}
.caption .pro2{
    font-size: 30px !important;
    font-weight: 600 !important;
    color: #ffff;
  

}


/* ////////////////////////////// * ABOUT ME * //////////////////////////////////////////// */
.About-Ams{
    height: 110vh;
    background-image: url(images/slide-05.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
 }
 .cap1{
    direction: rtl !important;
}
.colum{
    
    margin-right: 0px !important;
}
.tarof{
    display: flex;
    align-items:flex-end;
    justify-content:flex-end;
    color: rgba(188, 184, 184, 0.8) !important;
}
.med{
    color:rgba(255, 255, 255, 0.882) !important;
    font-size: 14px !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}
.Ams-tarof{
color: rgba(151, 164, 252, 0.999) !important;
}
.btn1 ,.bttn{
    margin-top:200px ; 
}
.btn11{
    height: 60px;
    width: 200px;
    border-radius: 50rem !important;
    box-shadow: #929494 0px 5px 15px;
    transition: all .4s !important;
    background-color:#0077ffab !important;
    border:none!important;
}
.cool{
    display: flex;
    justify-content: center;
    align-items: center;
}
.bttn{
    color: rgb(36, 41, 37) !important;
    font-size: 20px;
    box-shadow: #6c6e6e 0px 5px 10px;
    transition: all .4s !important;   
    position: fixed !important;
}
.btn11:hover{
    box-shadow: #e1ffff 0px 5px 10px;
  }
.bttn:hover{
    box-shadow: #4a4b4b 0px 5px 15px;
  }
.qq{
    color: #fbfbfb !important;
}
.Ams-know{
    color:#f0f0f0;
    text-decoration: none;
    font-size: 17px !important;
    font-weight: 600 !important;
}
.Ams-know:hover{
      color: #f3f5f4;
    text-decoration: none;
}
.company{
    display: flex;
    align-items: flex-start;
    justify-content:center ;
    text-align: center;
    overflow: hidden;
} 
/* -----------------------------------Service--------------------------- */
.service-Ams{
    height: 145vh;
    background-image: url(images/blog-02.jpg);
    background-size:100% 100%;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}
.back2{
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #062a5a67 !important;
}
.cap2{
    position: relative;
}
.company2{
    display: flex;
    align-items: center;
    justify-content:center ;
    text-align: center;
    overflow: hidden;
}
.btn1{
    margin-top: 0px;
}

.policy-Ams{
    color: rgb(76, 73, 232) !important;
    font-weight: 700 !important;
} 
 .policy{
    color:rgb(255, 255, 255) !important;
    font-size: 21px;
    font-weight: 600 !important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
} 
.Ams-tarof{
color: rgba(151, 164, 252, 0.999) !important;
}


.goals p{
    font-size: 16px !important;
    /* font-family: 'Times New Roman', Times, serif !important; */
    font-weight: 300;
}
/*------------------------------------final------------------------------------------------------ */


.final {
    background-color: rgba(18, 9, 9, 0.896);
    text-align:center !important;
}
.copy{ 
    color: white;
}

.copy h5{
    font-size: 15px !important;
}

}




/*////////////////////////////// screen from 569 to 768 ///////////////////////////////*/

@media screen and (min-width:569px) and (max-width:768px)
{
/********************************* navbar *****************************************/
    .navbar{ 
        text-align: center !important;
     }
     #bt1{
        border: solid 2px #0077ffab !important;
        box-shadow: none !important;
     }
     .nav-item{
         padding-top: 10px !important;
         background-color: #237ce186 !important;
     } 
     .active1::after{
         content: "";
         position: absolute;
         left: 200px !important;
         bottom: 5px;
         width: 20%;
         height: 1px;
         top: 45px;
         border-bottom:#d6e909c1 3px solid;
         border-top-left-radius: 10px !important;
         border-top-right-radius: 20px !important;
         animation: appear 1s linear;
     }
     @keyframes  appear {
     
         from{
             width: 0;
         }
         to{
             width: 20%;
         }
     }

     /********************************* Home *****************************************/
    .home{
        height: 100vh;
        background-image: url(images/slide-06.jpg);
        background-size:cover;
        background-repeat: no-repeat;
        position: relative;
        display: flex;
        align-items: center;
        justify-content:center ;
        text-align: center;
        overflow: hidden;
    }
    .caption .pro1,.element
    {
    font-weight: 600 !important;
    font-size: 26px !important;
    margin-bottom: 20px !important;
    }
    .elm{
        direction: rtl;
    }
    .caption .pro2{
        font-size: 30px !important;
        font-weight: 600 !important;
        color: #ffff;
    }
    .wrap{
        margin-top: 40px !important;
        
    }

/* ////////////////////////////// * ABOUT ME * //////////////////////////////////////////// */
.About-Ams{
    height: 125vh;
    background-image: url(images/slide-05.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
 }
.colum{
    
    margin-right: 0px !important;
}

.med{
    color:rgba(255, 255, 255, 0.882) !important;
}
.Ams-tarof{
color: rgba(151, 164, 252, 0.999) !important;
}
.btn1 ,.bttn{
    margin-top:200px ; 
}
.btn11{
    height: 60px;
    width: 200px;
    border-radius: 50rem !important;
    box-shadow: #929494 0px 5px 15px;
    transition: all .4s !important;
    background-color:#0077ffab !important;
    border:none!important;
}

.cool{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}
.bttn{
    color: rgb(36, 41, 37) !important;
    font-size: 20px;
    box-shadow: #6c6e6e 0px 5px 10px;
    transition: all .4s !important;   
    position: fixed !important;
}
.btn11:hover{
    box-shadow: #e1ffff 0px 5px 10px;
  }
.bttn:hover{
    box-shadow: #4a4b4b 0px 5px 15px;
  }
/* -----------------------------------Service--------------------------- */
.service-Ams{
    height: 145vh;
    background-image: url(images/blog-02.jpg);
    background-size:100% 100%;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}
.back2{
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #062a5a67 !important;
}
.cap2{
    position: relative;
}
.company2{
    display: flex;
    align-items: center;
    justify-content:center ;
    text-align: center;
    overflow: hidden;
}
.btn1{
    margin-top: 0px;
}

.policy-Ams{
    color: rgb(76, 73, 232) !important;
    font-weight: 700 !important;
} 
 .policy{
    color:rgb(255, 255, 255) !important;
    font-size: 21px;
    font-weight: 600 !important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
} 
.Ams-tarof{
color: rgba(151, 164, 252, 0.999) !important;
}


}

 

 



/* -----------------------------screen 769 to 992--------------------- */
 @media screen and (min-width:769px) and (max-width:1200px)
{
    /********************************* navbar *****************************************/
    .navbar{ 
        text-align: center !important;
     }
     #bt1{
        border: solid 2px #0077ffab !important;
        box-shadow: none !important;
     }
     .nav-item{
         padding-top: 10px !important;
         /* background-color: #237ce186 !important; */
     } 
     .active1::after{
        content: "";
        position: absolute;
        left: 280px !important;
        bottom: 5px;
        width: 20%;
        height: 1px;
        top: 45px;
        border-bottom:#d6e909c1 3px solid;
        border-top-left-radius: 10px;
        border-top-right-radius: 20px;
        animation: appear 1s linear;
    }
 
     @keyframes  appear {
     
         from{
             width: 0;
         }
         to{
             width: 20%;
         }
     }



    .policy{
        font-size: 17px !important;
    }

}






